* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Catamaran', sans-serif;
}

.container {
    width: 100%;
    background-color: rgb(111, 119, 144);    
    padding-bottom: 3rem; 
}

.content {
    width: 80%;
    margin: auto;
    padding: 2rem;
    background-color: rgb(212, 212, 212);
}

#title {
    padding: 1rem;
    color: #fff;
    text-align: center;
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;    
}

#description {
    padding-bottom: 2rem;
    text-align: center;
    font-size: 1.2rem;
}

#survey-form {
    width: 70%;
    margin: auto;
}

.input {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px; 
}

input, #dropdown, textarea, button {
    font-size: 1rem;
    padding: 7px;
    border: 2px solid rgb(180, 180, 180);
    background-color: rgba(255, 255, 255, 0.959);
    border-radius: 6px;
}

label::after {
    content: '*';
    color: red;
}

input[type='text'], input[type='email']{
    display: block;
    width: 70%;
    margin: 5px 0;    
}

input[type='number'] {
    width: 4rem;
    appearance: none;
}

#dropdown, input[type='number'] {
    height: 45px;
}

label {
    padding-top: 0.8rem;
    padding-bottom: 0;
    font-size: 1.2rem;
}

.options input {
    padding: 5px;   
    margin-left: 10px;  
}

.choice {
    display: flex;
    flex-direction: column;
    margin-top: 15px;    
}

.choice label {
    margin-bottom: 10px;
}

.choice input {
    margin-right: 10px;
}

button {
    display: block;
    width: 120px;
    padding: 8px 0;
    margin: 25px auto;
    color: #fff;
    background: rgb(112, 40, 6);
    text-transform: uppercase;
}

@media only screen and (max-width : 812px) {

    .content {
        width: 95%;
    }

    #survey-form {
        width: 100%;
    }

    .input {
        display: flex;
        flex-direction: column;
        margin-bottom: 5px; 
    }

    input[type='text'], input[type='email']{
        display: block;
        width: 100%;
        margin: 5px 0;    
    }
}